html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	background-color: #233140;
	color: rgba(255, 255, 255, .5);
	font-family: 'Product Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	display: block;
}

main #price_bitcoin {
	font-size: 5.5em;
	line-height: 1;
}

main #percent_bitcoin {
	font-size: 0.5em;
	position: absolute;
}

main .green {
	color: #2ECC71;
}

main .red {
	color: #EF4836;
}
